<div>
  <div style="margin-bottom: 10px;">
    前端css框架大合集
    <div>
      <a href="#" class="label label-inverse">前端</a>
      <a href="#" class="label label-inverse">css框架</a>
    </div>
    <div>
      <a title="喜欢" href="javascript:void(0);" style="color: #000; font-size: 12px;"><i class="icon-heart"></i>178</a>
      <a title="评论" href="javascript:void(0);" style="color: #000; font-size: 12px;"><i class="icon-comment"></i>30</a>
    </div>
  </div>
  <p>评一个论</p>
  <ul>
    <li>这个合集好~~</li>
    <li>你妹，最苦逼的就是前端了</li>
  </ul>

  <p>审核通过的列表：<a href="#" title="审核是个什么东东？"><i class="icon-question-sign"></i></a></p>
    <div style="border-bottom: #f5f5f5 1px solid; padding-bottom: 10px; margin-bottom: 10px;" class="clearfix">
      <div class="pull-left text-center" style="margin-right: 5px;">
        <a href="javascript:void(0);"><i title="好东西" class="icon-thumbs-up"></i></a>
        <div>102</div>
      </div>
      <div class="pull-left">
          <div>
            <a target="_blank" href="http://www.bootcss.com">组件 · Bootstrap中文网<small> http://www.bootcss.com</small></a>
          </div>
          <div class="muted"><small>什么，大名鼎鼎的bootstrap都不知道？</small></div>
        <div>
          <small><a href="">草泥马</a>
          2013-13-14 12:45:21 第一次添加  </small>
        </div>
      </div>
    </div>

  <div style="border-bottom: #f5f5f5 1px solid; padding-bottom: 10px; margin-bottom: 10px;" class="clearfix">
    <div class="pull-left text-center" style="margin-right: 5px;">
      <a href="javascript:void(0);"><i title="好东西" class="icon-thumbs-up"></i></a>
      <div>102</div>
    </div>
    <div class="pull-left">
      <div>
        <a target="_blank" href="http://www.bootcss.com">组件 · Bootstrap中文网<small> http://www.bootcss.com</small></a>
      </div>
      <div class="muted"><small>什么，大名鼎鼎的bootstrap都不知道？</small></div>
      <div>
        <small><a href="">草泥马</a>
          2013-13-14 12:45:21 第一次添加  </small>
      </div>
    </div>
  </div>

  <p>待审核的链接<small>(10条)</small>：</p>
  <div>哎呀，你还没登陆，无法看到待审核的链接~~</div>
  <div>
    <a target="_blank" href="http://www.purecss.io">Pure <small>http://www.purecss.io</small></a>
    <small class="muted">来自雅虎的开源轻量级css框架，简单小巧强大。</small>
    <div>
      <a class="btn btn-success btn-mini" href="javascript:void(0);" title="好资源，我要给YES">真心好资源</a>
      <a class="btn btn-mini" href="javascript:void(0);" title="坑爹啊，我要给NO">坑爹</a>
      <small class="muted">再有2个支持就可以通过了~~</small>
    </div>
  </div>
</div>